<div>
	<div class="largeButton is-vk" onclick="VKAuthentification()">
		<div class="vkIconPlace">
			<div class="vkIcon"></div>
		</div>
		<input type="submit" value="Войти через ВКонтакте">
	</div>
</div>
